<app-header></app-header>
<main>
  <div class="container">
    <!-- <img src="/assets/images/pexels-fauxels-3182773.jpg" alt=""> -->
    <main class="main">
      <div class="createButton">
        <app-employee-create></app-employee-create>
      </div>
      <div class="empList">
        <app-employee-list></app-employee-list>
      </div>
    </main>
  </div>
</main>


<!--
<main>
  <div class="createText">
    <app-employee-create></app-employee-create>
  </div>
  <h1>test</h1>
  <div class="listEmps">
    <app-employee-list></app-employee-list>
  </div>
</main> -->
