<div class="container">
  <main class="main">
      <div class="title">
        <h1>Employee Management</h1>
      </div>
      <div class="about">
        <p class="body">Welcome to my example employee management system. Here you will find a simple and easy to use interface to store data on a mongodb database. The stack used is angular, Java Spring, mongodb. In a real site I would add links to relevent what the
          customer may want to see. But for now I'm just filling this out to give it some body.
        </p>
      </div>
  </main>
</div>
