
.main {
  margin: 100px;
  text-align: center;
  padding: 100px;
  text-decoration: solid;
}

.title {
  color: black;
  text-shadow: 0 0 3px white;}

.about {
  padding-top: 20px;
  font-weight: 425;
}


