<mat-card>
  <div class="general">
      <form (submit)="onAddEmployee(empForm)" #empForm="ngForm">

        <div class="firstRow">
            <!-- name input  -->
            <mat-form-field>
              <input matInput type="text" name="name" ngModel
              required minlength="3"
              placeholder="Name"
              #name="ngModel">
              <mat-error *ngIf="name.invalid">Please enter a valid employee name</mat-error>
            </mat-form-field>

            <!-- email input -->
            <mat-form-field>
              <input matInput type="text" name="email" ngModel
              required minlength="3"
              placeholder="Email"
              #email="ngModel">
              <mat-error *ngIf="email.invalid">Please enter a valid employee email</mat-error>
            </mat-form-field>

            <!-- LoginId input -->
            <mat-form-field>
              <input matInput type="text" name="loginId" ngModel
              required minlength="3"
              placeholder="LoginId"
              #loginId="ngModel">
              <mat-error *ngIf="loginId.invalid">Please enter a valid LoginId</mat-error>
            </mat-form-field>

        </div>
        <div class="secondRow">
          <!-- Date of Birth -->
          <mat-form-field>
            <input matInput type="date" name="dob" ngModel
            required minlength="3"
            placeholder="Date of Birth"
            #DOB="ngModel">
            <mat-error *ngIf="DOB.invalid">Please enter a valid Date</mat-error>
          </mat-form-field>

          <!-- Designation -->
          <mat-form-field>
            <input matInput type="text" name="designation" ngModel
            required minlength="3"
            placeholder="Designation"
            #designation="ngModel">
            <mat-error *ngIf="designation.invalid">Please enter a valid employee designaiton</mat-error>
          </mat-form-field>

          <!-- Department -->
          <mat-form-field>
            <input matInput type="text" name="department" ngModel
            required minlength="3"
            placeholder="Department"
            #department="ngModel">
            <mat-error *ngIf="department.invalid">Please enter a valid employee department</mat-error>
          </mat-form-field>
        </div>
        <div class="thirdRow">
          <!-- save button -->
          <button mat-raised-button
          class="submit-button"
          color="accent"
          type="submit">Save</button>
        </div>
      </form>
    </div>
  </mat-card>
