<mat-toolbar color="primary">

  <li>
    <a mat-button routerLink="/">Home</a>
  </li>
  <li>
    <a mat-button routerLink="/view" routerLinkActive="mat-accent" >View Employees</a>
  </li>
  <li>
    <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create New Employee</a>
  </li>
  <span class="space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showAboutAlert()">
      <mat-icon>help</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>
</mat-toolbar>


